<h1 class="title">Characters</h1>

<div class="character-list">
  @if (selectedCharacter) {
    <div class="character-card">
      <span class="character-id">{{ selectedCharacter.id }}</span>
      
      <img
        [src]="selectedCharacter.image"
        alt="Character avatar"
      />
      
      <span class="character-name">{{ selectedCharacter.name }}</span>
      
      <div class="character-details">
        <span class="badge badge-species">{{ selectedCharacter.species }}</span>
        <span class="badge badge-status">{{ selectedCharacter.status }}</span>
        <span class="badge badge-gender">{{ selectedCharacter.gender }}</span>
      </div>

      <div class="character-actions">
        <button class="btn btn-edit" (click)="openEditModal()">
          <span class="btn-icon">✏️</span>
          Modificar
        </button>
        <button class="btn btn-delete" (click)="openDeleteModal()">
          <span class="btn-icon">🗑️</span>
          Borrar
        </button>
      </div>
    </div>
  }
</div>
@if (isModalOpen) {
  <div class="modal-backdrop">
    <div class="modal">

      <h2>Editar personaje</h2>

      <input [(ngModel)]="selectedCharacter.name" placeholder="Name">
      <input [(ngModel)]="selectedCharacter.species" placeholder="Species">
      <input [(ngModel)]="selectedCharacter.status" placeholder="Status">
      <input [(ngModel)]="selectedCharacter.image" placeholder="Image URL">

      <div class="modal-buttons">
        <button class="btn btn-edit" (click)="updateCharacter()">
          Guardar
        </button>

        <button class="btn btn-delete" (click)="closeModal()">
          Cancelar
        </button>
      </div>

    </div>
  </div>
}
@if (isDeleteModalOpen) {
  <div class="modal-backdrop">
    <div class="modal">

      <h2>Confirmar eliminación</h2>

      <p>
        ¿Seguro que quieres borrar a 
        <strong>{{ selectedCharacter.name }}</strong>?
      </p>

      <div class="modal-buttons">
        <button class="btn btn-delete" (click)="confirmDelete()">
          Sí, borrar
        </button>

        <button class="btn btn-edit" (click)="closeDeleteModal()">
          Cancelar
        </button>
      </div>

    </div>
  </div>
}
